@media (max-width:1189px) {
    .section1 {
        width: 1000px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .div-header {
        margin-left: -75px;
    }
    .first-div {
        margin-left: -85px;
    }
}

/* 1040px */
@media (max-width:1040px) {
    .div-header {
        margin-left: -100px;
    }
    .container-child {
        display: flex;
        width: 700px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .first-div {
        margin-left: 200px;
    }
    .first-div h2 {
        font-size: 30px;
    }
    
    .block:nth-child(3) {
        margin-top: 20px;
    }
    .block:nth-child(4) {
        margin-top: 20px;
    }
} 

/* 979px */
@media (max-width:979px) {
    .div-header {
        margin-left: -130px;
    }
    .section1 {
        width: 800px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .right-block {
        margin-left: 20px;
    }
}

/* 778px */
@media (max-width:778px) {
    .div-header {
        margin-left: -140px;
    }
    .section1 {
        width: 600px;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 50px;
    }
    .left-block {
        width: 559px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .left-block p {
        width: 300px;
    }
    .left-block h2 {
        font-size: 25px;
    }
    .right-block {
        margin: 0 auto;
    }
    .nav-ul {
        width: 400px;
    }
    .first-div {
        margin-left: 60px;
        text-align: center;
    }
}
/* 520px */
@media (max-width:520px) {
    .nav-ul {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
    .section1 {
        width: 260px;
        
    }
    .right-block {
        width: 260px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .image3 {
        width: 260px;
        height: 185px;
    }
    .left-block {
        width: 260px;
    }
    .left-block p {
        width: 100%;
        text-align: center;
    }
    .left-block h2 {
        text-align: center;
    }
    .readmore {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }
    .first-div {
        width: 300px;
        margin: 0 auto;
    }
    .container-child {
        width: 400px;
        flex-wrap: wrap;
    }
    .block:nth-child(2) {
        margin-top: 20px;
    }
    .div-header h2 {
        font-size: 20px;
    }
}
 /* 320px */
 @media (max-width:320px) {
    .div-header {
        margin-left: -170px;
    }
    .left-block h2 {
        font-size: 20px;
    }
    .left-block p  {
        font-size: 14px;
    }
    .readmore {
        font-size: 10px;
        width: 150px;
        height: 40px;
        text-align: center;
    }
    .image1 {
        width: 200px;
        margin: 0 auto;
    }
    .image2 {
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .image3 {
        width: 200px;
        margin: 0 auto;
        height: 142px;
        margin-top: 20px;
    }
    .first-div {
        width: 260px;
        margin-left: -100px;
    }
    .first-div h2 {
        font-size: 20px;
        text-align: center;
    }
    .container-child {
        width: 260px;
        margin: 0 auto;
    }
    .block {
        width: 200px;
    }
    .block p {
        width: 200px;
        font-size: 12px;
    }
    .block h3 {
        font-size: 14px;
    }
 }
    
