/* tablet */
/* header */
@media (max-width:800px) {
    .div-header {
        left: 20px;
    }
    .div-header h2 {
        font-size: 30px;
    }
    .section1 {
       flex-wrap: wrap;
       width: 800px;
       align-items: center;
       justify-content: center;
    }
    .right-block {
        margin-top: 20px;
    }

}



/* mobile */
/* header */
@media (max-width: 520px) {
    .nav-ul {
        display: none;
    }
    .div-header {
        left: 50px;
        
    }
    .div-header h2{
        font-size: 20px;
    }
    .logo{
        margin-left: 10px;
    }
    .fa-bars {
        display: inline-block;
        color: #ffffff;
    }
    .section1 {
        flex-wrap: wrap;
        width: 400px;
        align-items: center;
        justify-content: center;
     }
     .left-block {
        width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
     }
     .right-block {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    