/* header */
.bg-image {
    background-image: url(../images/header-image.jpg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.div-wrapper {
    width: 100%;
    height: auto;
    position: absolute;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
.nav-ul {
    width: 559px;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div-header {
    position: absolute;
    position: fixed;
    width: 189px;
    color: #ffffff;
    top: 146px;
    left: 200px;
}
.div-header h2 {
    font-size: 42px;
}
.div-child-header {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.home::after {
    content: " ";
    width: 2px;
    height: 10px;
    background-color: white;
    display: inline-block;
    margin-left: 5px;
}
.fa-bars {
    display: none;
}
/* section1 */
.section1 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.left-block {
    width: 444px;
}
.left-block h4 {
    font-size: 14px;
    color: #5863F8;
    font-weight: bold;
    margin-bottom: 10px;
}
.left-block h2 {
    font-size: 42px;
    max-width: 330px;
    width: 100%;
    margin-bottom: 10px;
}
.right-block img {
    border-radius: 25px;
    box-shadow: 7px 10px 12px grey;
}
.par1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;

}
.right-block {
    width: 536px;
}
.readmore {
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    margin-top: 15px;
}
.image1 {
    margin-right: 10px;
    margin-bottom: 10px;
}
.image2 {
    margin-bottom: 10px;
}
/* section2 */
.ft-image {
    background-image: url(../images/section-image.jpg);
    height: 700px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 90px;
    height: auto;
    padding-bottom: 90px;
    
}
.first-div {
    position: absolute;
    top: 116px;
    left: 139px;
    width: 369px;
}
.first-div h4 {
    color: #5863F8;
    font-size: 14px;
}
.first-div h2 {
    color: #ffffff;
    font-size: 42px;
    margin-top: 10px;
}
.container-child {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1088px;
    padding-top: 280px;
   
}
.block {
    max-width: 260px;
    width: 100%;
    height: auto;
    background-color: #ffffff;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image {
    max-width:59px;
    width: 100%;
    height: 59px;
    background-color: #5863F8;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 15px;
}
.block h3 {
    font-size: 18px;
    max-width: 165px;
    width: 100%;
    height: 51px;
    text-align: center;
}
.block p {
    max-width: 225px;
    width: 100%;
    color: #B1B1B1;
    margin-bottom: 26px;
    text-align: center;
}
