/* header */
.bg-image {
    background-image: url(../images/header-image.jpg);
    object-fit: cover;
    max-width: 1366px;
    width: 100%;
    height: 500px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navigation-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1366px;
    width: 100%;
    height: 82px;
    margin: 0 auto;


}

.nav-ul {
    width: 559px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
    color: #ffffff;
}

.logo {
    color: #ffffff;
    position: relative;
}

.bgtext1 {
    position: absolute;
    color: #ffffff;
    margin-left: 200px;
    margin-right: 1038px;
    margin-top: 50px;
    margin-bottom: 118px;
    font-size: 42px;
    max-width: 189px;
    width: 100%;
}

.bgtext2 {
    position: absolute;
    color: #ffffff;
    margin-left: 200px;
    margin-right: 1038px;
    margin-top: 110px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    max-width: 250px;
    width: 100%;
}

.bgtext3 {
    position: absolute;
    color: #ffffff;
    margin-left: 250px;
    margin-right: 1038px;
    margin-top: 116px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

.bgtext2::after {
    content: " ";
    width: 2px;
    height: 18px;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

/* section 1 */
.section1 {
    margin-top: 275px;

}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.left-block {
    max-width: 444px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.left-block h4 {
    color: #5863F8;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 70px;
}

.left-block h2 {
    color: #000000;
    font-size: 42px;
    max-width: 353px;
    width: 100%;
    margin-bottom: 15px;
}

.left-block p {
    max-width: 444px;
    width: 100%;
    margin-bottom: 15px;
}

.right-block {
    max-width: 600px;
    width: 100%;
}

.image1 {
    margin-right: 16px;
    margin-bottom: 16px;
}

.image2 {
    margin-bottom: 16px;
}

.image3 {
    height: 260px;
}

.readmore {
    max-width: 184px;
    width: 100%;
    height: 50px;
    background-color: #5863F8;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 45px;
}

/* section2 */
.background-img {
    background-image: url(../images/section-image.jpg);
    max-width: 1500px;
    width: 100%;
    height: 612px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-top: 90px;
    margin: 0 auto;
}

.section2 {
    max-width: 1366px;
    width: 100%;
    margin-top: 90px;
    margin: 0 auto;

}

.div-sec2 {
    max-width: 369px;
    width: 100%;
    position: relative;
    color: #ffffff;
    margin-left: 139px;
}

.div-sec2 h4 {
    font-size: 14px;
    color: #5863F8;
    font-weight: bold;
    padding-top: 92px;
}

.div-sec2 h2 {
    font-size: 42px;
    max-width: 369px;
    width: 100%;
    height: 116px;
    padding-top: 15px;
}

.container-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;


}

.block1 {
    max-width: 260px;
    width: 100%;
    height: 260px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.block1 h2 {
    font-size: 18px;
    width: 165px;
    text-align: center;
    height: 51px;
}

.block1 p {
    width: 226px;
    font-size: 14px;
    color: #B1B1B1;
    text-align: center;
}

.icon {
    width: 59px;
    height: 58px;
    border-radius: 50px;
    background-color: #5863F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}